.posts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;

    margin: 0 auto;
    padding: 1rem;
}

.search-result__text {
    font-size: .75rem;
}

.search-result__text em {
    font-weight: 700;
}

.wrapper {
    align-self: stretch;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
  
    padding: 1rem;
}