.search__form {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    padding: 1rem 2rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
  
    padding: 1rem;
}